@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #007BFF;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 a {
  text-decoration: none;
  color: #333;
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 60%;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.user-actions a, .auth-buttons a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

.user-actions a:hover, .auth-buttons a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.product-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33% - 20px); 
  box-sizing: border-box;
  margin-bottom: 50px; 
}

.product-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.product-title {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}

.product-price {
  font-size: 16px;
  color: #d9534f;
  margin: 10px 0;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}

button.remove-item-button {
  background-color: #d9534f;
  color: #fff;
  margin-right: 10px;
}

button.add-to-cart-button {
  background-color: #5cb85c;
  color: #fff;
}



.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  position: relative;
}

.search-bar input[type=text] {
  width: calc(100% - 40px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.search-bar button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #0056b3;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  text-decoration: underline;
}

.user-actions {
  display: flex;
}

.user-actions a, .auth-buttons a {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: #0056b3;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.user-actions a:hover, .auth-buttons a:hover {
  background-color: #004090;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1000px;
  text-align: center;
  transition: transform 0.3s ease;
}

.hidden {
  display: none;
}

.auth-form, .product-form, .filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form label, .product-form label, .filter-form label {
  margin-bottom: 10px;
  font-size: 16px;
}

.auth-form input, .product-form input, .product-form textarea, .product-form select, .filter-form select, .filter-form button, .auth-form button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
  width: 300px;
  max-width: 100%;
}

.auth-form select {
  width: 318px;
}

.auth-form button, .product-form button, .filter-form button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.auth-form button:hover, .product-form button:hover, .filter-form button:hover {
  background-color: #0056b3;
}

.close-button {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.close-button:hover {
  background-color: #333;
  color: white;
}

.izbrannoe-section {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.izbrannoe-items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.izbrannoe-item {
  display: flex;
  width: calc(50% - 20px);
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.izbrannoe-item-image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.izbrannoe-item-details {
  flex: 1;
}

.izbrannoe-item-title {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.izbrannoe-item-price {
  margin: 0 0;
}

.product-image {
  width: 100%;
  max-width: 333px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.product-list, .cart-items, .izbrannoe-items-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item, .cart-item, .izbrannoe-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: calc(33% - 40px);
  box-sizing: border-box;
}

.product-image, .cart-item-image, .izbrannoe-item-image {
  width: 100%;
  height: auto;
}

.add-to-cart-button, .details-button, .remove-item-button {
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */